<%= render 'movies/modal' %>

<div class="container">
  <div class="row">
    <%= render 'movies/index/side_menu' %>
    <%= render 'movies/index/main_content' %>
  </div><!-- row -->
</div><!-- container -->