<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Posted by <%= @movie.user.name %></div>
      <h3><%= @movie.name %></h3>
      <p><%= @movie.synopsis %></p>
    </div>
  </div><!-- row -->
</div>